body {
    text-align: center;
    background-color: black;
}

h2 {
    font-family: Verdana, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color:white;
}

.download {
    color:aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

a, a:visited{
    color:aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

